@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tabs-section {
     background: linear-gradient(90deg, #1e0621,#702f59,#d55985);
    width: 100%;
    height: 100vh;

}

.menu-tabs{
    width: 100%;
    height: 60px;
    background-color: rgba(255, 255, 255,.2);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


}

.tab{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    list-style: none;
    font-size: 20px;
    color: #E3D095;
    font-family: 'Pacifico', cursive;

    &:hover{
        border-bottom: 2px solid #E3D095;
    }

    &:active{
       color: #947c35 ;
       border-bottom: 2px solid #a99043;
       text-shadow: 2px 2px 13px #5e4d1a;;
    }
}
.tabs-container{
   
    color: white;                                             
}
